
*
 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
  background: rgb(173, 171, 171);
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: gray;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: uppercase;
  background: transparent;
  color: brown;
  padding: 0.375rem 0.75rem;
  letter-spacing: 2px;
  display: inline-block;

  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.btn:hover {
  color: whitesmoke;
  background: black;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.section-center {
  background: rgb(55, 55, 114);
  border-radius: 10px;
  box-shadow: 2px;

  
  padding:70px;
}
.section-center:hover {
  box-shadow: black;
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.alert-danger {
  color: red;
  background: white;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.grocery-form h3 {
  color: white;
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: center;
}

.grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  background: silver;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color:black;
}
.grocery::placeholder {
  
  color: black;
}
.submit-btn {
  background: whitesmoke;
  border-color: silver;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 0.85rem;
}


.grocery-container {
  margin-top: 2rem;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  text-transform: capitalize;
}

.grocery-item:hover .title {
  color: black;
}
.title {
  margin-bottom: 0;
  color: black;
  letter-spacing: 2px;
  transition: 3s;
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: 2s;
}
.edit-btn {
  color: green;
}
.edit-btn:hover {
  color: #155724;
}
.delete-btn {
  color: red;
  
}
.delete-btn:hover {
  color: red;
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: red;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 2px;
  cursor: pointer;
  
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: red;
}